<!-- ============================================ -->
<!--                   Footer                     -->
<!-- ============================================ -->

<footer class="pt-4 mt-md-5 py-md-5 border-top">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <img src="/assets/images/Full_Name500pxWhite.png" class="img-fluid" width="200"
                    alt="Haggerty Construction's logo.">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h5>Contact Us</h5>
                <p>
                    <a href="tel:+14354141974">Phone: (435) 414 - 1974</a><br>
                    Email: info@haggertyconstruction.com
                </p>
            </div>
            <div class="col-md-4">
                <h5>Quick Links</h5>
                <ul class="list-unstyled">
                    <li><a href="/gallery">Gallery</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#about">About Us</a></li>
                    <li><a href="#contact">Request an Estimate</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Follow Us</h5>
                <a href="https://www.facebook.com/HaggertyUtah/" target="_blank" class="social-icon">Facebook</a>
                <a href="https://www.instagram.com/haggerty.construction/" target="_blank"
                    class="social-icon">Instagram</a>
                <!-- Add more social media links as needed -->
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <small>This website was designed, developed and delivered by <a
                        href="https://www.doubleyou.media">DoubleYou
                        Media</a> in St.
                    George, Utah.</small>
            </div>
        </div>
    </div>
</footer>